@page
@model DevBin.Pages.User.PastesModel
@{
    ViewData["Title"] = "Your Pastes";
    User? user = null;
    var loggedIn = HttpContext.Items.TryGetValue("logged_user", out var tUser);
    if (loggedIn && tUser != null) {
        user = (User) tUser;
    }
    else {
        Redirect("/user/login");
        return;
    }
    
    Paste[] pastes = Database.Instance.GetUserPastes(user);

}

<div class="row mx-lg-5">
    @foreach (Paste paste in pastes) {
        //<a href="/@paste.ID">@(paste.Title ?? paste.ID)</a>

        string pasteTitle = paste.Title.Length > 0 ? paste.Title : paste.ID;
        if (pasteTitle.Length >= 48) {
            pasteTitle = pasteTitle.Substring(0, Math.Min(pasteTitle.Length, 48)) + "…";
        }

        <div class="col-4">
            <a href="/@paste.ID" class="text-decoration-none">
                <div class="card text-white bg-dark outline-dark mb-3">
                    <div class="card-body border-light">
                        <h5 class="card-title">@pasteTitle</h5>
                        <p class="card-text font-monospace text-muted fst-italic lh-1">@paste.ContentCache.Substring(0, Math.Min(paste.ContentCache.Length, 64))…</p>
                    </div>
                    <div class="card-footer outline-dark">
                        <span class="badge bg-light text-dark syntax-badge">@paste.Syntax</span>
                        <span class="fst-italic text-muted float-end">@Paste.TimeAgo(paste.Date)</span>
                    </div>
                </div>
            </a>
        </div>
    }
</div>

<script src="~/js/highlight.pack.js"></script>

<script>
    let syntaxes = document.getElementsByClassName("syntax-badge");
    for (let i = 0; i < syntaxes.length; i++) {
        let syntax = syntaxes[i].textContent;
        try {
            let lang = hljs.getLanguage(syntax);
            syntaxes[i].textContent = lang.name;
        } catch (e) {
            console.error(e);
        }
    }
</script>