@page
@model PasteModel
@{
    ViewData["Title"] = Model.Paste.Title.Length > 0 ? Model.Paste.Title : Model.Paste.ID;
    ViewData["IncludeHighlight"] = true;
}

<div class="row">

    <div class="col-sm-8">
        <label for="paste-input" class="form-label">@Model.Paste.Title</label>
        <div id="paste-content" name="paste-input" class="form-control bg-dark text-light font-monospace codeblock @(Model.Paste.Exposure == Paste.PasteExposure.Encrypted ? "locked" : "")">@Html.Raw(Model.PasteContent)</div>
    </div>

    <div class="col-sm-4">
        <div class="row">
            <div class="col-6">
                <label for="paste-syntax" class="form-label">Paste Syntax</label>
                <input id="paste-syntax" name="paste-syntax" class="form-control bg-dark text-light" value="@Model.Paste.Syntax" readonly />
            </div>
            <div class="col-6">
                <label for="paste-exposure" class="form-label">Paste Exposure</label>
                <input id="paste-exposure" name="paste-exposure" class="form-control bg-dark text-light" value="@Model.PasteExposure" readonly>
            </div>
        </div>

        <div class="row pt-2">
            <div class="col-6">
                <label class="form-label user-select-none">&emsp;</label>
                <a href="/raw/@Model.Paste.ID" role="button" class="form-control btn btn-light"><i class="fas fa-code"></i> Raw Paste</a>
            </div>
            <div class="col-6">
                <label class="form-label user-select-none">&emsp;</label>
                <a href="/?clone=@Model.Paste.ID" role="button" type="submit" class="form-control btn btn-light"><i class="fas fa-plus"></i> Clone Paste</a>
            </div>
        </div>

        @if ( HttpContext.Request.RouteValues["LoggedIn"] != null ) {
            <div class="row pt-2">
                <div class="col-6">
                    <label class="form-label user-select-none">&emsp;</label>
                    <a href="/?edit=@Model.Paste.ID" role="button" type="submit" class="form-control btn btn-light"><i class="fas fa-edit"></i> Edit Paste</a>
                </div>
                <div class="col-6">
                    <label class="form-label user-select-none">&emsp;</label>
                    <a href="/delete/@Model.Paste.ID" role="button" type="submit" class="form-control btn btn-danger disabled"><i class="fas fa-trash-alt"></i> Delete Paste</a>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {

    <script src="~/js/highlight.pack.js"></script>

    <script>
        addEventListener('load', () => {
            const code = document.getElementById("paste-content");
            const syntax = document.getElementById("paste-syntax")

            syntaxId = syntax.value;

            try {
                syntax.value = hljs.getLanguage(syntaxId).name;

                const worker = new Worker('/js/hl-worker.js');
                worker.onmessage = (event) => {
                    code.innerHTML = event.data;
                }
                worker.postMessage({
                    code: code.innerText,
                    language: syntaxId,
                });
            } catch (e) {
                console.error(e);
                syntax.value = syntaxId;
            }
        });
    </script>

    @if ( Model.Paste.Exposure == Paste.PasteExposure.Encrypted ) {
        <div class="modal fade" id="unlock-modal" tabindex="-1" aria-labelledby="unlockLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content bg-dark">
                    <div class="modal-header">
                        <h5 class="modal-title" id="unlockLabel"><i class="fas fa-lock"></i> Encrypted Paste!</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>This paste is encrypted and requires a key to be readable.</p>
                    </div>
                    <div class="modal-footer">
                        <input id="paste-key" name="paste-key" type="password" class="form-control bg-dark text-light" placeholder="Paste key..." />
                        <button type="button" class="btn btn-primary"><i class="fas fa-unlock"></i> Decrypt</button>
                    </div>
                </div>
            </div>
        </div>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js" integrity="sha512-nOQuvD9nKirvxDdvQ9OMqe2dgapbPB7vYAMrzJihw5m+aNcf0dX53m6YxM4LgA9u8e9eg9QX+/+mPu8kCNpV2A==" crossorigin="anonymous"></script>
        <script src="~/js/aes.js" type="text/javascript"></script>
        <script>


            let modal = new bootstrap.Modal(document.getElementById('unlock-modal'), {})
            modal.show();




            /*let pasteContent = document.getElementById("paste-content");
            if (typeof key === "string") {
                let res = decrypt(pasteContent.textContent, key);
                pasteContent.textContent = res;
                pasteContent.classList.remove("locked");
            }*/
        </script>
    }
}